<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head(title='Authors')}"></head>
<body>
<nav th:replace="~{fragments/common :: nav}"></nav>

<h1>Authors</h1>

<a th:href="@{/authors/new}">Add new author</a>

<table>
    <thead>
    <tr>
        <th>Full name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.fullName}">Full name</td>
        <td class="actions">
            <a th:href="@{/authors/{id}/edit(id=${author.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
