<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head(title='Genres')}"></head>
<body>
<nav th:replace="~{fragments/common :: nav}"></nav>

<h1>Genres</h1>

<a th:href="@{/genres/new}">Add new genre</a>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${genres}">
        <td th:text="${genre.name}">Name</td>
        <td class="actions">
            <a th:href="@{/genres/{id}/edit(id=${genre.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
